@import "tailwindcss";

@theme {
    /* Maz-UI color bindings */
    --color-primary: hsl(var(--maz-color-primary)); 
    --color-primary-600: hsl(var(--maz-color-primary-600)); 
    --color-secondary: hsl(var(--maz-color-secondary));    
    --color-background: hsl(var(--maz-color-bg));
    --color-background-accent: hsl(var(--maz-color-background-accent));
    --color-foreground: hsl(var(--maz-color-text));   

    /* Status colors */
    --color-success: hsl(var(--maz-color-success));
    --color-warning: hsl(var(--maz-color-warning));
    --color-danger: hsl(var(--maz-color-danger));
    --color-info: hsl(var(--maz-color-info));

    /* Gradients */
    --image-sensor-gradient: linear-gradient(to right, var(--color-primary), var(--color-info));
    --image-grid-highlight: linear-gradient(to bottom right, color-mix(in srgb, var(--color-primary), transparent 80%), color-mix(in srgb, var(--color-info), transparent 80%));
    --image-background-gradient: linear-gradient(to bottom right, var(--color-background), var(--color-background-accent));
}

:root {
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--image-background-gradient);
    color: var(--color-foreground);
}

html {
    font-size: var(--maz-base-font-size);
    font-family: var(--maz-font-family);
    background-color: hsl(var(--maz-background));
    color: hsl(var(--maz-foreground));
}

.custom-background-gradient{
    @apply bg-gradient-to-br from-[hsl(var(--maz-primary))] to-[hsl(var(--maz-accent))]
}

.crosswalk-v {
    background: repeating-linear-gradient(
        90deg,
        white 0px, white 4px,
        #374151 4px, #374151 8px
    );
}

.crosswalk-h {
    background: repeating-linear-gradient(
        0deg,
        white 0px, white 4px,
        #374151 4px, #374151 8px
    );
}
