services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: av-ethics-api
    ports:
      - "8080:8080"
    environment:
      - DB_URL=${DB_URL}
      - JWT_SECRET=${JWT_SECRET}
      - TOKEN_EXPIRATION=${TOKEN_EXPIRATION:-3h}
      - SESSION_EXPIRATION=${SESSION_EXPIRATION:-3h}
      - SERVER_PORT=${SERVER_PORT:-:8080}
      - LOCAL_FRONTEND_PORT=${LOCAL_FRONTEND_PORT:-3000}
      - BACKGROUND_ENTITIES_MIN=${BACKGROUND_ENTITIES_MIN:-5}
      - BACKGROUND_ENTITIES_MAX=${BACKGROUND_ENTITIES_MAX:-15}
      - TRIDENT_ZONE_DISTANCE=${TRIDENT_ZONE_DISTANCE:-2}
      - TRIDENT_ZONE_DEPTH=${TRIDENT_ZONE_DEPTH:-3}
      - SCENARIO_MODEL=${SCENARIO_MODEL}
      - SCENARIO_PROVIDER=${SCENARIO_PROVIDER}
      - FEEDBACK_MODEL=${FEEDBACK_MODEL}
      - FEEDBACK_PROVIDER=${FEEDBACK_PROVIDER}
      - TIMER_DURATION_MS=${TIMER_DURATION_MS:-20000}
      - NETWORK_BUFFER_MS=${NETWORK_BUFFER_MS:-10000}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - GROQ_API_KEY_1=${GROQ_API_KEY_1}
      - GROQ_API_KEY_2=${GROQ_API_KEY_2}
      - GROQ_API_KEY_3=${GROQ_API_KEY_3}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - OPENROUTER_API_KEY_1=${OPENROUTER_API_KEY_1}
      - OPENROUTER_API_KEY_2=${OPENROUTER_API_KEY_2}
      - OPENROUTER_API_KEY_3=${OPENROUTER_API_KEY_3}
      - OPENROUTER_API_KEY_4=${OPENROUTER_API_KEY_4}
      - CLIENT_URL=${CLIENT_URL}
    restart: unless-stopped
    env_file:
      - .env
